:root {
  --primary-color: #141516;
  --secondary-color: #fff;
  --accent-color: #bdc1c0;
  --bg-color: #f6f5fa;
  --bg-info-color: #333333;
  --light-text: #c1c1c1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  background-color: var(--bg-color);
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__navlinks {
  display: flex;
}
.navbar__navlinks a {
  color: var(--primary-color);
}

.navbar__links a:hover {
  border-bottom: 2px #333 solid;
}

.navbar__navlinks ul {
  display: flex;
  padding: 0 1rem;
}

.navbar__navlinks li {
  padding: 0 0.5rem;
}

.navbar h1 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.navbar__social i:hover {
  transform: scale(1.2);
}

.main {
  padding: 5rem 0;
  display: flex;
}

.main__title {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.main__text {
  color: var(--primary-color);
  font-size: 1.2rem;
  padding: 1rem 0;
}

.main__left {
  width: 40%;
}

.btn {
  /* display: inline; */
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--accent-color);
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.btn:hover {
  transform: scale(0.98);
}

.collection {
  display: flex;
  min-height: 500px;
}

.collection > * {
  flex-basis: 100%;
}

.collection__left {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/pexels-drew-williams-3568520.jpg');
}

.collection__right {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/wassim-chouak-7eLmnkOF-mk-unsplash.jpg');
  background-position: 20% 50%;
}

.collection__left,
.collection__right {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.collection__left:hover,
.collection__right:hover {
  opacity: 0.8;
}

.collection h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--secondary-color);
  font-size: 2rem;
}

.info {
  background-color: var(--bg-info-color);
}

.info__text {
  color: var(--light-text);
  max-width: 1200px;
  min-height: 400px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.info__text h1::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 2px solid var(--light-text);
}

.info__title {
  font-size: 3rem;
}

.info__description {
  font-size: 1.2rem;
}

.scenario {
  display: flex;
  min-height: 500px;
}

.scenario > * {
  flex-basis: 100%;
}

.scenario__left,
.scenario__mid,
.scenario__right {
  position: relative;
}

.scenario__left {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/pexels-wendy-wei-2959611.jpg');
}
.scenario__mid {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/pexels-eberhard-grossgasteiger-1670187.jpg');
}
.scenario__right {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/pexels-3172740.jpg');
}

.scenario__left,
.scenario__mid,
.scenario__right {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.scenario__left:hover,
.scenario__mid:hover,
.scenario__right:hover {
  opacity: 0.8;
}

.scenario__text {
  position: absolute;
  bottom: 0;
  color: var(--secondary-color);
  margin: 1rem 2rem;
}

.scenario__text .scenario__category {
  font-size: 0.8rem;
}
.scenario__text .scenario__title {
  font-size: 1.2rem;
}
.scenario__text .scenario__description {
  font-size: 0.8rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-color: var(--bg-info-color);
  color: var(--light-text);
}

.contact__text > * {
  text-align: center;
  padding: 1rem;
}

.contact__text h1 {
  font-size: 2.5rem;
}

.contact__form {
  padding: 2rem;
}

.contact__form input[type='text'],
.contact__form input[type='email'] {
  background: var(--bg-info-color);
  color: var(--light-text);

  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 1.2rem 0;
  font-size: 16px;
}

.contact__form input:focus {
  outline: none;
}

.contact__btn {
  cursor: pointer;
  padding: 1rem;
  margin: 2rem 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.contact__btn:hover {
  transform: scale(0.98);
}

.footer__container {
  display: flex;
  background: var(--bg-info-color);
  color: var(--light-text);
  border-top: solid 1px rgba(255, 255, 255, 0.3);
}

.footer__container > * {
  flex-basis: 100%;
  margin: 2rem;
}

.footer__legal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.footer__info a {
  color: var(--light-text);
  padding: 0.4rem 0;
}

.footer_visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

@media (max-width: 770px) {
}

/* media queries */
@media (max-width: 500px) {
  .container {
    padding: 0;
  }

  .main {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .navbar {
    flex-direction: column;
    padding: 1rem 0;
  }

  .navbar__navlinks {
    flex-direction: column;
  }

  .navbar__navlinks > * {
    padding: 0.7rem;
  }

  .navbar__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main__left {
    width: 100%;
  }

  .main__text {
    padding: 0.7rem;
    font-size: 1rem;
  }

  .main__title {
    text-align: center;
  }

  .main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }

  .collection {
    flex-direction: column;
  }

  .collection h2 {
    min-height: 500px;
  }

  .info__text {
    padding: 3rem 1rem;
  }

  .info__text h1::after {
    width: 20%;
  }

  .info__description {
    font-size: 1rem;
  }

  .scenario {
    flex-direction: column;
  }

  .scenario__left,
  .scenario__mid,
  .scenario__right {
    min-height: 500px;
  }
}
